<%= bootstrap_form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="field">

    <%# <%= form.label :name %> 
    <%# <%= form.text_field :name %> 
 
<div class="btn-group-vertical">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary">Running <i class="fas fa-running"></i></button>
    <button type="button" class="btn btn-secondary">Walking <i class="fas fa-walking"></i></button>
    <button type="button" class="btn btn-secondary">Cycling <i class="fas fa-bicycle"></i></button>
    <button type="button" class="btn btn-secondary">Swimming <i class="fas fa-swimming-pool"></i></button>
  </div>

   <div class="btn-group">
    <button type="button" class="btn btn-secondary">Weights <i class="fas fa-dumbbell"></i></button>
    <button type="button" class="btn btn-secondary">Hicking <i class="fas fa-hiking"></i></button>
    <button type="button" class="btn btn-secondary">Kendo <i class="fas fa-user-ninja"></i></button>
    <button type="button" class="btn btn-secondary">Nordic Skiing <i class="fas fa-skiing-nordic"></i></button>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary">Mountain Skiing <i class="fas fa-skiing"></i></button>
    <button type="button" class="btn btn-secondary">Mountain parkour <i class="fas fa-mountain"></i></button>
    <button type="button" class="btn btn-secondary">Skating <i class="fas fa-skating"></i></button>
    <button type="button" class="btn btn-secondary">Snowboarding <i class="fas fa-snowboarding"></i></button>
  </div>
  </div>

</div>




</div>


  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :thumbnail %> 
    <%# <%= form.text_field :thumbnail %> 
  <%# </div> %>

  <%# <div class="field"> %>
    <%# <%= form.label :icon %> 
    <%# <%= form.text_field :icon %> 
  <%# </div> %>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




















<%= bootstrap_form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :activity_type_id %>
    <%= form.text_field :activity_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
